WebSrc/Hangout.Server/StateServer/ServerStateMachine/UserInventoryImportSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--  To Generate this xsd from the UserInvertory response:
1. In Visual Studio open the UserInvertory response XML file
2. Add in items node (from a StoreInvertory Response) to the itemInstance node
3. Under xml select create XSD
4. Make sure that the itemType => id, item => id, itemInstance => id and  itemInstance => itemId are type="xs:unsignedShort"
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="itemInstances">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="itemTypes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="itemType">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="instances" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="itemInstance">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Assets" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="appName" type="xs:string" use="required" />
                        <xs:attribute name="itemTypeName" type="xs:string" use="required" />
                        <xs:attribute name="buttonName" type="xs:string" use="required" />
                        <xs:attribute name="description" type="xs:string" use="required" />
                        <xs:attribute name="smallImageUrl" type="xs:string" use="required" />
                        <xs:attribute name="mediumImageUrl" type="xs:string" use="required" />
                        <xs:attribute name="largeImageUrl" type="xs:string" use="required" />
                        <xs:attribute name="available" type="xs:byte" use="required" />
                    </xs:complexType>
                    </xs:element>
                    <xs:element name="properties" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="createdDate" type="xs:string" use="required" />
                  <xs:attribute name="userId" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="appId" type="xs:unsignedLong" use="required" />
                  <xs:attribute name="appName" type="xs:string" use="required" />
                  <xs:attribute name="itemId" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="itemName" type="xs:string" use="required" />
                  <xs:attribute name="gift" type="xs:boolean" use="required" />
                  <xs:attribute name="giftGiverUserId" type="xs:string" use="required" />
                  <xs:attribute name="giftVisibility" type="xs:string" use="required" />
                  <xs:attribute name="giftMessage" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="startIndex" type="xs:string" use="required" />
            <xs:attribute name="blockSize" type="xs:string" use="required" />
            <xs:attribute name="total" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="noun" type="xs:string" use="required" />
      <xs:attribute name="verb" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>